<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103357185550-g3j40gpe9qp9vpbic9t9pt00mosft0hq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103357185550-g3j40gpe9qp9vpbic9t9pt00mosft0hq</string>
	<key>API_KEY</key>
	<string>AIzaSyDQchHB0wfh4F6xjx2PdRlmfG3B4rbMlqA</string>
	<key>GCM_SENDER_ID</key>
	<string>103357185550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceryApp</string>
	<key>PROJECT_ID</key>
	<string>naturebeatz-af459</string>
	<key>STORAGE_BUCKET</key>
	<string>naturebeatz-af459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103357185550:ios:13ff5f0646a0fbd1bec65f</string>
</dict>
</plist>